BOT_TOKEN=8923219188:AAGD3o0geNznnV63h0xB7zyr1YSJkbUzmdA
ADMIN_ID=2065749873
SUPABASE_URL=https://qyvqpdvmkrqywgrkvcji.supabase.co/rest/v1/
SUPABASE_KEY=sb_publishable_10TX8bZlgBYK2gxUHpP-Kg_3SYo3BBL
